.button {
    background: linear-gradient(145deg, var(--color-primary), var(--color-accent));
    background-size: 100% 100%;
    border: none;
    width: 100%;
    color: var(--foreground);
    cursor: pointer;
    border-radius: 10px;
    padding: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    box-shadow: 0 5px 15px var(--color-primary-transparent);
}

.button:focus {
    outline: 2px solid var(--color-primary);
}

.button:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
}