.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-height: 100vh;
    max-width: 640px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-color: var(--background-secondary);
    border-radius: 0.5rem;
    padding: 2.5rem 2.5rem;
    border: 1px solid var(--color-primary);
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary);
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
    cursor: pointer;
}

.closeButton:hover {
    background-color: var(--foreground-secondary);
}

.modalContent {
    padding: 0 5rem 5rem 5rem;
}

@media screen and (max-width: 768px) {
    .modal {
        width: 90%;
        padding: 1rem 1rem;
    }

    .modalContent {
        padding: 0 1rem 1rem 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
    .modal {
        padding: 1.5rem 1.5rem;
    }

    .modalContent {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
}